body {
    background-color:azure;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

header {
    background-color: bisque;
    padding: 0 10px;
}

img {
    float: left;
    padding-right: 10px;
    max-width: 150px;
    height: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: none;
}

dl {
    background-color: bisque;
    padding: 1px 10px;
}

dl dt {
    font-weight: bold;
    font-size: 1.15rem;
}

dl dd {
    margin-left: 0;
}